@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
font-family: 'Ubuntu', sans-serif;
font-size: 16px;
line-height: 1.5;
color: #000;
height: 100vh;
width: 100vw;


}

h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}
h3{
    color: #000;
    font-weight: 800;
}

p{
    font-size: 16px;

}

.container{
    max-width: 80vw;
    margin: 0 auto;

}

nav{
    margin-top: 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.navbar a {
    text-decoration: none;
    font-size: 13px;
    border: #000;
    color:#000;
}

li {
    margin-left: 15px;
    
}

a:link{
    border: 0.1px solid #000;
    background-color: #fff;
    border-radius: 12px;
    height: 2px;
    padding: 2px 5px;
}

a:hover{
    background-color:#000;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    border: none;
}

.Display-item{
    max-width: 80%;
     align-items: center; 
     margin: 0 auto;
}


.flex-child{
    width: 50%;
        float: left;
        
}

.object{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
}

.img{
    margin-top: -35px;
    padding-left: 30px;
}

.btn{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 13px;
    margin-top: 10px;
    cursor: pointer;
    letter-spacing: 2.5px;
}

.btn:hover{
    background-color: #fff;
    color: #3a3b3c;
    border: 0.25px solid #3a3b3c;
}

.img-thumbnail{
    /* width: 50px;
    height: 50px;
    clear: both; */
    clear: both;
    text-align: center;
    padding-top: 100px;
}

.box{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 4px;
    padding-right: 12px;
}

.box:hover{
    transform: scale(1.2);

}

/* .box-last{
    height: 40px;
    margin-left: -10px;
} */

.box img{
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width:700px ) {
   .body{
       height: 100vh;
       width: 100vw;
   }
   .container{
       width: 100%;
       text-align: center;
   }
   h3{
       font-size: 11px;
   }
   p{
       font-size: 20px;
       font-weight: 100;
   }
    
    .display-item{
        display: block;
    }
    .flex-child{
        float: none;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 35px;
        width: 100%;
    }
    .img{
        text-align: center;
        margin-top: 60px;
        display: block;
        align-items: center;
        padding-left: 0;
        
        /* margin-left: -25px; */
    }
    .object{
        display: block;
        margin-top: 60px;
    }

    .btn{
        margin-top: 15px;
    }

        .img-thumbnail{
            padding-top: 0;
            text-align: center;
         margin-left: 35px; 
        }
        .box{
            padding: 10px 2px;
            width: 40px;
        }
        ul{
            margin-right: 5px;
            
        }
        nav{
            padding-bottom: 20px;
        }
    .navbar a {
                    text-decoration: none;
                    font-size: 9px;
                    border: #000;
                    color: #000;
                }

a:link {
        border: 0.1px solid #000;
        background-color: #fff;
        border-radius: 12px;
        height: 2px;
        padding: 2px 4px;
                                }
                /* li {
                    margin-left: 15px;
        
                } */

                img .image{
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }
}